In [22]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv('HR RAW DATA.csv')

In [24]:
df1 = df['JobRole'].str.lower()
df['JobRole'] = df1

In [25]:
df2 = df['Department'].str.lower()
df['Department'] = df2

In [26]:
df_dep = df['Department'].str.lower()

In [27]:
df_rj = df['JobRole'].str.lower()

In [28]:
df_dep = df_dep.fillna('NC')

In [29]:
df_dep.to_frame
df_rj.to_frame

<bound method Series.to_frame of 0             research director
1                       manager
2                       manager
3             research director
4               sales executive
                  ...
1609            sales executive
1610      laboratory technician
1611            sales executive
1612            sales executive
1613     manufacturing director
Name: JobRole, Length: 1614, dtype: object>

In [30]:
dep_rj = pd.concat([df_dep, df_rj],  axis=1, ignore_index=True).rename(columns={0: 'Department', 1: 'JobRole'})

In [31]:
dep_rj

                    Department                   JobRole
0                           NC        research director
1                           NC                  manager
2      research & development                   manager
3                           NC        research director
4                           NC          sales executive
...                        ...                       ...
1609                        NC          sales executive
1610                        NC    laboratory technician
1611                        NC          sales executive
1612                        NC          sales executive
1613                        NC   manufacturing director

[1614 rows x 2 columns]

In [32]:
deps = dep_rj['Department'].unique()
deps

array(['NC', ' research & development ', ' sales ', ' human resources '],
      dtype=object)

In [33]:
roles = dep_rj['JobRole'].unique()
roles

array([' research director ', ' manager ', ' sales executive ',
       ' manufacturing director ', ' research scientist ',
       ' healthcare representative ', ' laboratory technician ',
       ' sales representative ', ' human resources '], dtype=object)

In [34]:
def rellenar_departamentos(fila):
    job_role_actual = fila['JobRole'].strip()
    department_actual = fila['Department'].strip()

    nuevo_departamento = department_actual # Por defecto, mantenemos el valor actual

    if department_actual == 'NC': 
        if job_role_actual in ['research director', 'manufacturing director', 'healthcare representative', 'research scientist', 'laboratory technician']:
            nuevo_departamento = 'research & development'
        elif job_role_actual in ['sales representative', 'sales executive']:
            nuevo_departamento = 'sales'
        elif job_role_actual == 'human resources':
            nuevo_departamento = 'human resources'
        else:
            nuevo_departamento = 'unknow' 

    return nuevo_departamento 

dep_rj['Department'] = dep_rj.apply(rellenar_departamentos, axis=1)

display(dep_rj)

                  Department                   JobRole
0     research & development        research director
1                     unknow                  manager
2     research & development                  manager
3     research & development        research director
4                      sales          sales executive
...                      ...                       ...
1609                   sales          sales executive
1610  research & development    laboratory technician
1611                   sales          sales executive
1612                   sales          sales executive
1613  research & development   manufacturing director

[1614 rows x 2 columns]

In [35]:
dep_rj['Department'].value_counts()

Department
research & development    1001
sales                      464
unknow                      91
human resources             58
Name: count, dtype: int64

In [36]:
columna_department = dep_rj['Department'].copy()

In [37]:
columna_department.to_csv('Columna_department.csv')